/* BeanTown */
@font-face {
    font-family: beantown;
    src: url(./font/Beantown.ttf) format('truetype');
    font-style: normal;
    font-weight: normal
}

html{
	font-size:10px;
}

body{
	background-color:black;
	color:white;
}

.border{
	border : 1px solid cyan;
}

.number{
	font-family: beantown;
}

/** Main Layout **/
.flexWrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.flexItem{
	width:100%;
}

@media all and (min-width:768px) and (max-width:1024px) {
	
}

@media all and (min-width:1025px) {
	.flexWrapper {
		-ms-flex-flow: row wrap;
		    flex-flow: row wrap;
	}
	
	.flexItem:nth-child(1){
		width:100%;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		-webkit-box-ordinal-group:4;
		    -ms-flex-order:3;
		        order:3;
	}
	
	.flexItem:nth-child(2){
		-webkit-box-ordinal-group:2;
		    -ms-flex-order:1;
		        order:1;
		width:30%;
		padding:1rem;
		padding-top:0;
	}
	.flexItem:nth-child(3){
		-webkit-box-ordinal-group:3;
		    -ms-flex-order:2;
		        order:2;
		width:70%;
		padding:1rem;
		padding-top:0;
	}
}

.title{
	height:50px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

/** Flex Item 1 **/
/** Title **/
.title > div:nth-child(1), .title > div:nth-child(4){
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	margin-left:10px;
	margin-right:10px;
}

.main .title > div:nth-child(2){
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width:61px;
	height: 100%;
	background-image:url('../img/0x02500000000008F3.png');
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main .title div:nth-child(3) {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	font-size:2.5rem;
	font-weight:bold;
}

/** Content **/
.main .content{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
.main .content > div{
	width:30%;
	background-color: #404040 ;
	margin-top:1rem;
}

.main .content .subTitle{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	margin:0;
	margin-top:1rem;
	
	font-size:1.3rem;
	font-weight:0;
}

.main .content .subContent{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	margin:0;
	font-family:beantown;
	font-size:2.5rem;
	line-height:2.5rem;
}

/** Battle Tag Content 대응 **/
@media all and (min-width:768px) and (max-width:1024px) {
	.main .content .subTitle{
		font-size:2.0rem;
		font-weight:0;
	}
	
	.main .content .subContent{
		font-size:3.5rem;
		line-height:3.5rem;
	}
}

@media all and (min-width:1025px) {
	.main .content .subTitle{
		font-size:2.0rem;
		font-weight:0;
	}
	
	.main .content .subContent{
		font-size:3.5rem;
		line-height:3.5rem;
	}
}

/** MOST 3 BOX **/
.most3Wrapper{
	margin-top:1rem;	
}
/** title **/
.most3Wrapper  .title div:nth-child(3) {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	font-size:2.5rem;
	font-weight:bold;
}

.most3Wrapper  .title > div:nth-child(2){
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width:0px;
	height: 100%;
	background-image:url('../img/number3.png');
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
}

/** content **/
.most3Wrapper .content{
	background-color: #404040 ;
	border-left: 3px solid #999999;
	
	font-family:beantown;
	font-size:2.5rem;
	line-height:2.5rem;
	font-family:beantown;
	margin-top:1rem;
	margin-left:0.1rem;
	margin-right:0.1rem;
} 

.mostHead{
	margin-top:1rem;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.mostHead > div:nth-child(1){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
.mostHead > div:nth-child(2), .mostHead > div:nth-child(3), .mostHead > div:nth-child(4){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	font-size:1.5rem;
	line-height:1.5rem;
	font-weight:bold;
}

.mostBody{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin-top:1rem;
	margin-bottom:1rem;
}

.mostBody > div:nth-child(1){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	    -ms-flex-pack:start;
	        justify-content:flex-start;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	overflow:hidden;
	font-family : Sans-serif;
	font-weight : bold;
	font-size:1.7rem;
	line-height:1.7rem;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.mostBody > div:nth-child(2), .mostBody > div:nth-child(3), .mostBody > div:nth-child(4){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.mostBody span:nth-child(1){
}

.mostBody span:nth-child(2){
	font-size:1rem;
}

@media all and (min-width:768px) and (max-width:1024px) {
	.mostHead > div:nth-child(1){
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 40%;
		        flex: 0 0 40%;
	}
	
	.mostHead > div:nth-child(2), .mostHead > div:nth-child(3), .mostHead > div:nth-child(4){
		font-size:2.0rem;
		line-height:2.0rem;
	}
	.mostBody > div:nth-child(1){
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 40%;
		        flex: 0 0 40%;
		font-size:3.5rem;
		line-height:3.5rem;
	}
	.mostBody > div:nth-child(2), .mostBody > div:nth-child(3), .mostBody > div:nth-child(4){
		font-size:3.5rem;
		line-height:3.5rem;
	}
	
	.mostBody span:nth-child(1){
	}
	
	.mostBody span:nth-child(2){
		font-size:1.5rem;
	}
}

@media all and (min-width:1025px) {
	.mostHead > div:nth-child(2), .mostHead > div:nth-child(3), .mostHead > div:nth-child(4){
		font-size:2.0rem;
		line-height:2.0rem;
	}
	.mostBody > div:nth-child(1){
		font-size:3.0rem;
		line-height:3.0rem;
	}
	.mostBody > div:nth-child(2), .mostBody > div:nth-child(3), .mostBody > div:nth-child(4){
		font-size:3.0rem;
		line-height:3.0rem;
	}
}
/** img **/
.mostBody > div:nth-child(1) > div:nth-child(1){
	background-repeat: no-repeat;
	background-size : contain;
	background-position : center;
	width:40px;
	height:35px;
	margin-right:0.5rem;
	margin-left:0.5rem;
}



.main .content > .divider{
	width:1px;
	border:1px solid grey;
	margin-left:0.5rem;
	margin-right:0.5rem;
}

/* % label */
.main .content .subContent:nth-child(2) > span:nth-child(2){
	font-size:1rem;
}

.detailTitle{
	height:50px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

@media all and (min-width:768px) and (max-width:1024px) {
	
}

@media all and (min-width:1025px) {

}

.detailTitle > div:nth-child(1), .detailTitle > div:nth-child(5){
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	margin-left:10px;
	margin-right:10px;
}

.detailTitle > div:nth-child(2){
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width:61px;
	height: 100%;
	background-image:url('../img/icon-All.png');
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
}

.detailTitle div:nth-child(3) {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	font-size:2rem;
}

/* Button style */
.detailTitle div:nth-child(4){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	font-size:2rem;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	margin-left:1rem;
}

/* refresh button */
.detailTitle div:nth-child(4) button{
	
}

.upperText{
	height:50%;
	font-weight: bold;
}

.lowerText{
	height:50%;
	color:black;
	background-color:orange;
}

.radarContainer{
	width:100%;
}

.radarContainer:after {
  padding-top: 100%;
  /* 16:9 ratio */
}


.btnContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.btnContainer > button{
	width:30%;
	margin:0;
}


/** Hero List **/

#heroList{
	background-color: #222222;
	background: -webkit-repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
	background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

#heroList li{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}

.roleContainer{
	width : 6%;
	height : 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left:5px;
}

.heroContainer{
	width : 12%;
	height : 40px;
	margin-top:1px;
	margin-left: 1px; 
	background-color: Grey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid darkgreen; 
	position:relative;
}

.heroContainer:hover{
	height : 44px;
	margin-top: 1px;
	background-color: YELLOW;
}

@media all and (min-width:768px) and (max-width:1024px) {
	#heroList li{
		width:100%;
	}
	.roleContainer {
		width : 60px;
		height : 50px;
	}
	.heroContainer {
		width : 8%;
		height : 50px;
	}
}

@media all and (min-width:1025px) {
	#heroList li{
		width:100%;
	}
	.roleContainer {
		width : 60px;
		height : 50px;
	}
	.heroContainer {
		width : 8%;
		height : 50px;
	}
}

.heroContainer.active{
	background-color: Gold;
}

.update{
	/**
	position: absolute;
	top:0%;
	left:50%; 
	transform: translate(-50%, -25%);
	**/
	position: absolute;
	bottom:0%;
	left:0%;
	-webkit-transform: translate(50%, 50%);
	        transform: translate(50%, 50%);
	
	font-size : 5px;
	color: red;
	-webkit-animation: neon1 0.5s ease-in-out infinite alternate;
	animation: neon1 0.5s ease-in-out infinite alternate;
}

.heroNameTag{
	visibility:hidden;
	font-size:1rem;
	position: absolute;
	top:100%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}




.chartTitle{
	padding-bottom:1rem;
	padding-top:2rem;
}

@media all and (min-width:1025px) {
	.chartTitle{
		padding-top:0rem;
	}
}

.subFlexWrapper{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
}

.subFlexItem{
	widht:100%;
}

@media all and (min-width:1025px) {
	.subFlexWrapper{
		-ms-flex-flow : row wrap;
		    flex-flow : row wrap;
	}
	.subFlexItem{
		width:45%;
	}
	.subFlexItem:nth-child(2){
		margin-left:1rem;
	}
}

.subFlexItem > div{
	background-color: #404040 ;
	border-left: 3px solid #999999;
	margin-bottom:1rem;	
}

.subTitle{
	font-size:1.8rem;
	font-weight:bold;
	margin-left:0.5rem;
}

.subTitle > span{
	font-size:1.8rem;
	font-weight:0;
	margin-left:0.5rem;
	padding-top:1rem;
	padding-bottom:1rem;
}


.subContent{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:start;
	    -ms-flex-pack:start;
	        justify-content:flex-start;
	margin:0;
	padding:0;
	margin-left:1.5rem;
	width: 100%;
}

#cptPoint > div:nth-child(1){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	font-size:6rem;
	line-height:6rem;
}

#cptPtArrowLabel{
	font-size:3rem;
	line-height:6rem;
}

#cptPoint > div:nth-child(3){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	font-size:3rem;
	line-height:2rem;
 }

#cptPoint > div:nth-child(2){
	margin-left:1rem;
}

#cptPoint > div:nth-child(2), #cptPoint > div:nth-child(4){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	font-size:1.5rem;
	line-height:2rem;
}

#prdCptPt, #todayCptPt{
	font-size:2rem;
	line-height:2rem;
}

.labelNumber{
	font-family: beantown;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	font-size:5rem;
	line-height:5rem;
}

.labelNumber > span:nth-child(2){
	font-size: 2rem;
}

.progress{
	margin-bottom:0;
	color:black;
}

#winRating .labelNumber{
	margin-left:1rem;
}

/* 상세보기 */
.chartArea > div:nth-child(4){
	min-height: 5rem;
}

/* Table Row Shared Design */
tr{
	/* color: #00FFFC; */
	display: table-row;
}

th{
	/*
	font: normal normal normal 10px BlackFit77,sans-serif;
	line-height: normal;
	font-size: 2.4rem;
	
	padding: 1.4rem 2rem 1.2rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #c6cbde;
    color: #405275;
    text-align: left;
	*/
	font-size: 2rem;
	border-bottom: 2px solid #ddd;
}

/* Table Body > data */
td{
	font-size: 1.5rem;
	padding: 0.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #ddd;
	background-color:#404040;
}

/* Table Body > Table Column 1 */
tr > td:nth-child(1){
	letter-spacing:-.1em;
	width:60%;
}

/* Table Body > Table Column 2 */
tr > td:nth-child(2){
	text-align: right;
	letter-spacing:-.01em;
	width:40%;
}

/* Not Yet */
/* Table Head Desing */
thead{
	/*
	display: table-header-group;
	*/
}



/* fade in out method */ 
#radarCanvas, #radarLoading{
    -webkit-transition: opacity 0.2s ease-in;
            transition: opacity 0.2s ease-in;
}





















p {
  text-align: center;
  font-size: 1em;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

p a {
  color: #FF1177;
  font-family: Monoton;
  -webkit-animation: neon1 0.5s ease-in-out infinite alternate;
  animation: neon1 0.5s ease-in-out infinite alternate;
}

p a:hover {
  color: #FF1177;
  -webkit-animation: none;
  animation: ;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*glow for mozilla*/
/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

.fade-in{
	opacity: 1;
}

.fade-out{
	opacity: 0;
}