

/* @ID는 자바스크립트에서 사용할것, 클래스로 대부분 적용할 것 **/

/* @레이아웃 css와 스타일 css를 구분할것 **/

/* @공통영역 스타일을 지정하고 세부영역으로 갈것(아래 예시)**/
/* Build Layout because Javascript can't add Css Style clear (complicated) */
/* Please Build this style very smallest */
/* Use for dynamic Element */
.playerList.dropdown-menu li{
	margin-top:2px;
	margin-bottom:2px;
	color:black;
	height:30px;
	cursor: pointer;
}
.playerList.dropdown-menu li > div{
	display:flex;
	height:100%;
	text-align:center;
	align-items:center;
}
.playerList.dropdown-menu li > div > div:nth-child(1){width:15%}
.playerList.dropdown-menu li > div > div:nth-child(2){width:15%}
.playerList.dropdown-menu li > div > div:nth-child(3){width:25%}
.playerList.dropdown-menu li > div > div:nth-child(4){width:25%}
.playerList.dropdown-menu li > div > div:nth-child(5){width:30%}

/* If you want detail Section */
/* 이런식으로 상위 선택자에 위치를 지정해주면 세부영역으로 덮어 씌울 수 있다. */
.friendFavorite .playerList.dropdown-menu li{
	
}