html{ font-size:10px;}

body{
	background-color:black;
	color:white;
}

.number{
	font-family: beantown;
}


/** font declaration **/
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
/* BeanTown Font*/
@font-face { 
    font-family: beantown;
    src: url(./font/Beantown.ttf) format('truetype');
    font-style: normal;
    font-weight: normal
}

/* Main Title */
.main-title .battle-name{
	font-size:2.5rem;
	font-weight:bold;
}

/* Maint Tab*/
.main-tab-wrapper .button-group{
	color:black;
	overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.main-tab-wrapper .button-group button{
	background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.main-tab-wrapper .button-group button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.main-tab-wrapper .button-group button.active {
    background-color: #ccc;
}


